IO_LOC  "RGB1[2]" 75;
IO_PORT "RGB1[2]" IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC  "RGB1[1]" 74;
IO_PORT "RGB1[1]" IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC  "RGB1[0]" 73;
IO_PORT "RGB1[0]" IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC  "RGB0[2]" 72;
IO_PORT "RGB0[2]" IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC  "RGB0[1]" 71;
IO_PORT "RGB0[1]" IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC  "RGB0[0]" 70;
IO_PORT "RGB0[0]" IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC  "ADDR[3]" 55;
IO_PORT "ADDR[3]" IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC  "ADDR[2]" 54;
IO_PORT "ADDR[2]" IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC  "ADDR[1]" 53;
IO_PORT "ADDR[1]" IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC  "ADDR[0]" 51;
IO_PORT "ADDR[0]" IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC  "LATCH" 57;
IO_PORT "LATCH" IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC  "OE" 68;
IO_PORT "OE" IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC  "clk" 52;
IO_PORT "clk" IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC  "clk_out" 56;
IO_PORT "clk_out" IO_TYPE=LVCMOS33 PULL_MODE=UP;
