// Generated with Lushay Code

IO_LOC  "i2cScl" 32;
IO_PORT "i2cScl" IO_TYPE=LVCMOS33;

IO_LOC  "i2cSda" 31;
IO_PORT "i2cSda" IO_TYPE=LVCMOS33;

IO_LOC  "clk" 52;
IO_PORT "clk" IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC  "ioCs" 36;
IO_PORT "ioCs" DRIVE=8 IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC  "ioDc" 39;
IO_PORT "ioDc" DRIVE=8 IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC  "ioReset" 25;
IO_PORT "ioReset" DRIVE=8 IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC  "ioSdin" 26;
IO_PORT "ioSdin" DRIVE=8 IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC  "ioSclk" 27;
IO_PORT "ioSclk" DRIVE=8 IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC  "btn1" 3;
IO_PORT "btn1" IO_TYPE=LVCMOS18;
